@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgb(125, 211, 252),
    rgb(14, 165, 233),
    rgb(5, 150, 105)
  );
}
